# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Virtual Environments
venv/
env/

# Ignore User Data (VERY IMPORTANT)
linkedin_cookies.pkl
linkedin_stats.json
linkedin_settings.json
linkedin_bot.log
LinkedInBotData/

# Ignore PyInstaller Build Files (Don't upload the exe source)
build/
dist/
*.spec